# Ridge and Lasso Regression - Lab

## Introduction

In this lab, you'll practice your knowledge on Ridge and Lasso regression!

## Objectives

You will be able to:

- Use Lasso and ridge regression in Python
- Compare Lasso and Ridge with standard regression

## Housing Prices Data

Let's look at yet another house pricing data set.

In [115]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('Housing_Prices/train.csv')

Look at df.info

In [4]:
info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
flds = ["Id", "1460", "non-null", "int64"], ["MSSubClass", "1460", "non-null", "int64"], ["MSZoning", "1460", "non-null", "object"], ["LotFrontage", "1201", "non-null", "float64"], ["LotArea", "1460", "non-null", "int64"], ["Street", "1460", "non-null", "object"], ["Alley", "91", "non-null", "object"], ["LotShape", "1460", "non-null", "object"], ["LandContour", "1460", "non-null", "object"], ["Utilities", "1460", "non-null", "object"], ["LotConfig", "1460", "non-null", "object"], ["LandSlope", "1460", "non-null", "object"], ["Neighborhood", "1460", "non-null", "object"], ["Condition1", "1460", "non-null", "object"], ["Condition2", "1460", "non-null", "object"], ["BldgType", "1460", "non-null", "object"], ["HouseStyle", "1460", "non-null", "object"], ["OverallQual", "1460", "non-null", "int64"], ["OverallCond", "1460", "non-null", "int64"], ["YearBuilt", "1460", "non-null", "int64"], ["YearRemodAdd", "1460", "non-null", "int64"], ["RoofStyle", "1460", "non-null", "object"], ["RoofMatl", "1460", "non-null", "object"], ["Exterior1st", "1460", "non-null", "object"], ["Exterior2nd", "1460", "non-null", "object"], ["MasVnrType", "1452", "non-null", "object"], ["MasVnrArea", "1452", "non-null", "float64"], ["ExterQual", "1460", "non-null", "object"], ["ExterCond", "1460", "non-null", "object"], ["Foundation", "1460", "non-null", "object"], ["BsmtQual", "1423", "non-null", "object"], ["BsmtCond", "1423", "non-null", "object"], ["BsmtExposure", "1422", "non-null", "object"], ["BsmtFinType1", "1423", "non-null", "object"], ["BsmtFinSF1", "1460", "non-null", "int64"], ["BsmtFinType2", "1422", "non-null", "object"], ["BsmtFinSF2", "1460", "non-null", "int64"], ["BsmtUnfSF", "1460", "non-null", "int64"], ["TotalBsmtSF", "1460", "non-null", "int64"], ["Heating", "1460", "non-null", "object"], ["HeatingQC", "1460", "non-null", "object"], ["CentralAir", "1460", "non-null", "object"], ["Electrical", "1459", "non-null", "object"], ["1stFlrSF", "1460", "non-null", "int64"], ["2ndFlrSF", "1460", "non-null", "int64"], ["LowQualFinSF", "1460", "non-null", "int64"], ["GrLivArea", "1460", "non-null", "int64"], ["BsmtFullBath", "1460", "non-null", "int64"], ["BsmtHalfBath", "1460", "non-null", "int64"], ["FullBath", "1460", "non-null", "int64"], ["HalfBath", "1460", "non-null", "int64"], ["BedroomAbvGr", "1460", "non-null", "int64"], ["KitchenAbvGr", "1460", "non-null", "int64"], ["KitchenQual", "1460", "non-null", "object"], ["TotRmsAbvGrd", "1460", "non-null", "int64"], ["Functional", "1460", "non-null", "object"], ["Fireplaces", "1460", "non-null", "int64"], ["FireplaceQu", "770", "non-null", "object"], ["GarageType", "1379", "non-null", "object"], ["GarageYrBlt", "1379", "non-null", "float64"], ["GarageFinish", "1379", "non-null", "object"], ["GarageCars", "1460", "non-null", "int64"], ["GarageArea", "1460", "non-null", "int64"], ["GarageQual", "1379", "non-null", "object"], ["GarageCond", "1379", "non-null", "object"], ["PavedDrive", "1460", "non-null", "object"], ["WoodDeckSF", "1460", "non-null", "int64"], ["OpenPorchSF", "1460", "non-null", "int64"], ["EnclosedPorch", "1460", "non-null", "int64"], ["3SsnPorch", "1460", "non-null", "int64"], ["ScreenPorch", "1460", "non-null", "int64"], ["PoolArea", "1460", "non-null", "int64"], ["PoolQC", "7", "non-null", "object"], ["Fence", "281", "non-null", "object"], ["MiscFeature", "54", "non-null", "object"], ["MiscVal", "1460", "non-null", "int64"], ["MoSold", "1460", "non-null", "int64"], ["YrSold", "1460", "non-null", "int64"], ["SaleType", "1460", "non-null", "object"], ["SaleCondition", "1460", "non-null", "object"], ["SalePrice", "1460", "non-null", "int64"]

In [6]:
cols = []
for fld in flds:
    if fld[3] !="object": cols.append(fld[0])

In [105]:
df = df[cols]

In [116]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [119]:
df[df.isnull()].sum()

Id               0.0
MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
Street           0.0
Alley            0.0
LotShape         0.0
LandContour      0.0
Utilities        0.0
LotConfig        0.0
LandSlope        0.0
Neighborhood     0.0
Condition1       0.0
Condition2       0.0
BldgType         0.0
HouseStyle       0.0
OverallQual      0.0
OverallCond      0.0
YearBuilt        0.0
YearRemodAdd     0.0
RoofStyle        0.0
RoofMatl         0.0
Exterior1st      0.0
Exterior2nd      0.0
MasVnrType       0.0
MasVnrArea       0.0
ExterQual        0.0
ExterCond        0.0
Foundation       0.0
                ...
BedroomAbvGr     0.0
KitchenAbvGr     0.0
KitchenQual      0.0
TotRmsAbvGrd     0.0
Functional       0.0
Fireplaces       0.0
FireplaceQu      0.0
GarageType       0.0
GarageYrBlt      0.0
GarageFinish     0.0
GarageCars       0.0
GarageArea       0.0
GarageQual       0.0
GarageCond       0.0
PavedDrive       0.0
WoodDeckSF       0.0
OpenPorchSF      0.0
EnclosedPorch    0.0
3SsnPorch        0.0
ScreenPorch      0.0
PoolArea         0.0
PoolQC           0.0
Fence            0.0
MiscFeature      0.0
MiscVal          0.0
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 81, dtype: float64

First, make a selection of the data by removing some of the data with `dtype = object`, this way our first model only contains **continuous features**

Make sure to remove the SalesPrice column from the predictors (which you store in `X`), then replace missing inputs by the median per feature.

Store the target in `y`.

In [101]:
# Load necessary packages


# remove "object"-type features and SalesPrice from `X`


# Impute null values


# Create y
cols_no_price = [x for x in df.columns if x !="SalePrice"]
X = df[cols_no_price]
y = df["SalePrice"]

Look at the information of `X` again

In [13]:
X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,836,192,84,0,0,0,0,0,12,2008

## Let's use this data to perform a first naive linear regression model

Compute the R squared and the MSE for both train and test set.

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.linear_model import LinearRegression

In [26]:

# Split in train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [114]:
len(df)

0

In [113]:
import numpy as np
df = df.replace([np.inf, -np.inf], np.nan).dropna()

In [27]:
# Fit the model and print R2 and MSE for train and test
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [28]:
model.score(X_train, y_train)

0.8191899776208246

In [30]:
y_train_pred = model.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))
print(mean_squared_log_error(y_train, y_train_pred))

1251811995.3268216
0.04231375608471067

In [31]:
print(model.score(X_test, y_test))
y_test_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_test_pred))
print(mean_squared_log_error(y_test, y_test_pred))

0.7473981478383795
1689426853.507158
0.035889463169952354

## Normalize your data

We haven't normalized our data, let's create a new model that uses `preprocessing.scale` to scale our predictors!

In [32]:
from sklearn import preprocessing

# Scale the data and perform train test split

In [41]:
df_scale = preprocessing.scale(df)

In [42]:
df_scale = pd.DataFrame(df_scale)

In [43]:
df_scale.columns = df.columns

In [44]:
df_scale.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,-1.725807,0.092295,-0.233570,-0.205885,0.570704,-0.525499,0.992930,0.823953,0.462009,0.571581,...,-0.760257,0.231036,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,-1.615345,0.153084,0.277161
1,-1.723429,-0.865696,0.384834,-0.064358,-0.153825,2.284122,0.120665,-0.460746,-0.572748,1.152559,...,1.686090,-0.716739,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,-0.498715,-0.596291,-0.048289
2,-1.721052,0.092295,-0.109889,0.138702,0.570704,-0.525499,0.928317,0.776371,0.282510,0.101672,...,-0.760257,-0.064173,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,0.990125,0.153084,0.457966
3,-1.718674,0.331793,-0.439705,-0.070512,0.570704,-0.525499,-1.850006,-0.746235,-0.572748,-0.475034,...,-0.760257,-0.172934,4.083851,-0.11253,-0.278676,-0.072999,-0.141407,-1.615345,-1.345665,-0.548517
4,-1.716296,0.092295,0.549742,0.509132,1.295234,-0.525499,0.896011,0.681208,1.275032,0.462647,...,0.815913,0.588393,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,2.106755,0.153084,0.777389

In [45]:
X = df_scale[cols_no_price]
y = df_scale["SalePrice"]
X = X.drop(columns=["Id"])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Perform the same linear regression on this data and print out R-squared and MSE.

In [46]:
# Fit the model and print R2 and MSE for train and test
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [48]:
print(model.score(X_train, y_train))
y_train_pred = model.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))
#print(mean_squared_log_error(y_train, y_train_pred))

0.7994780350355852
0.20909774417420746

In [50]:
print(model.score(X_test, y_test))
y_test_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_test_pred))
#print(mean_squared_log_error(y_test, y_test_pred))

0.8510444731047673
0.12339174484475399

## Include dummy variables

Your model hasn't included dummy variables so far: let's use the "object" variables again and create dummies

In [60]:
df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [111]:
# Create X_cat which contains only the categorical variables

col_obj = []
for fld in flds:
    if fld[3] =="object": col_obj.append(fld[0])

X_cat = df[col_obj]

KeyError: "['MSZoning' 'Street' 'Alley' 'LotShape' 'LandContour' 'Utilities'\n 'LotConfig' 'LandSlope' 'Neighborhood' 'Condition1' 'Condition2'\n 'BldgType' 'HouseStyle' 'RoofStyle' 'RoofMatl' 'Exterior1st'\n 'Exterior2nd' 'MasVnrType' 'ExterQual' 'ExterCond' 'Foundation'\n 'BsmtQual' 'BsmtCond' 'BsmtExposure' 'BsmtFinType1' 'BsmtFinType2'\n 'Heating' 'HeatingQC' 'CentralAir' 'Electrical' 'KitchenQual'\n 'Functional' 'FireplaceQu' 'GarageType' 'GarageFinish' 'GarageQual'\n 'GarageCond' 'PavedDrive' 'PoolQC' 'Fence' 'MiscFeature' 'SaleType'\n 'SaleCondition'] not in index"

In [110]:
df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [64]:
# Make dummies
X_cat = pd.get_dummies(X_cat)

Merge `x_cat` together with our scaled `X` so you have one big predictor dataframe.

In [93]:
X2 = pd.concat([X, X_cat], axis=1)

In [94]:
X2.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,0.092295,-0.233570,-0.205885,0.570704,-0.525499,0.992930,0.823953,0.462009,0.571581,-0.282645,...,0.235641,-0.760257,0.231036,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,-1.615345,0.153084
1,-0.865696,0.384834,-0.064358,-0.153825,2.284122,0.120665,-0.460746,-0.572748,1.152559,-0.282645,...,-0.224712,1.686090,-0.716739,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,-0.498715,-0.596291
2,0.092295,-0.109889,0.138702,0.570704,-0.525499,0.928317,0.776371,0.282510,0.101672,-0.282645,...,0.549518,-0.760257,-0.064173,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,0.990125,0.153084
3,0.331793,-0.439705,-0.070512,0.570704,-0.525499,-1.850006,-0.746235,-0.572748,-0.475034,-0.282645,...,0.727382,-0.760257,-0.172934,4.083851,-0.11253,-0.278676,-0.072999,-0.141407,-1.615345,-1.345665
4,0.092295,0.549742,0.509132,1.295234,-0.525499,0.896011,0.681208,1.275032,0.462647,-0.282645,...,1.742250,0.815913,0.588393,-0.356622,-0.11253,-0.278676,-0.072999,-0.141407,2.106755,0.153084

In [95]:
X_cat.head()

Empty DataFrame
Columns: []
Index: []

Perform the same linear regression on this data and print out R-squared and MSE.

In [67]:
print(len(X2))
print(len(y))

1121
1121

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size = 0.2)

In [69]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [70]:
print(model.score(X_train, y_train))
y_train_pred = model.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))
#print(mean_squared_log_error(y_train, y_train_pred))

0.8441249651087988
0.15865626514997405

In [71]:
print(model.score(X_test, y_test))
y_test_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_test_pred))
#print(mean_squared_log_error(y_test, y_test_pred))

0.5338718248271033
0.4267865429986288

Notice the severe overfitting above; our training R squared is quite high, but the testing R squared is negative! Our predictions are far off. Similarly, the scale of the Testing MSE is orders of magnitude higher than that of the training.

## Perform Ridge and Lasso regression

Use all the data (normalized features and dummy categorical variables) and perform Lasso and Ridge regression for both! Each time, look at R-squared and MSE.

## Lasso

With default parameter (alpha = 1)

In [72]:
from sklearn.linear_model import Lasso

In [86]:
model = Lasso(alpha=1)
model.fit(X_train, y_train)

Lasso(alpha=1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [87]:
print(model.score(X_train, y_train))
y_train_pred = model.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))
#print(mean_squared_log_error(y_train, y_train_pred))

0.0
1.0178426921329262

In [88]:
print(model.score(X_test, y_test))
y_test_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_test_pred))

-0.01823838695480351
0.9322981623150101

In [92]:
for a,b in zip(X2.columns,model.coef_):
    print(a,b)

MSSubClass -0.0
LotFrontage 0.0
LotArea 0.0
OverallQual 0.0
OverallCond -0.0
YearBuilt 0.0
YearRemodAdd 0.0
MasVnrArea 0.0
BsmtFinSF1 0.0
BsmtFinSF2 -0.0
BsmtUnfSF 0.0
TotalBsmtSF 0.0
1stFlrSF 0.0
2ndFlrSF 0.0
LowQualFinSF 0.0
GrLivArea 0.0
BsmtFullBath 0.0
BsmtHalfBath -0.0
FullBath 0.0
HalfBath 0.0
BedroomAbvGr 0.0
KitchenAbvGr -0.0
TotRmsAbvGrd 0.0
Fireplaces 0.0
GarageYrBlt 0.0
GarageCars 0.0
GarageArea 0.0
WoodDeckSF 0.0
OpenPorchSF 0.0
EnclosedPorch -0.0
3SsnPorch 0.0
ScreenPorch 0.0
PoolArea 0.0
MiscVal -0.0
MoSold 0.0
YrSold -0.0

With a higher regularization parameter (alpha = 10)

In [76]:
model = Lasso(alpha=10)
model.fit(X_train, y_train)

Lasso(alpha=10, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [77]:
print(model.score(X_train, y_train))
y_train_pred = model.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))
#print(mean_squared_log_error(y_train, y_train_pred))

0.0
1.0178426921329262

In [78]:
print(model.score(X_test, y_test))
y_test_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_test_pred))

-0.01823838695480351
0.9322981623150101

## Ridge

With default parameter (alpha = 1)

In [79]:
from sklearn.linear_model import Ridge

In [80]:
model = Ridge(alpha=1)
model.fit(X_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [81]:
print(model.score(X_train, y_train))
y_train_pred = model.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))
#print(mean_squared_log_error(y_train, y_train_pred))

0.8441303535265207
0.1586507805883736

In [82]:
print(model.score(X_test, y_test))
y_test_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_test_pred))

0.5340129982208133
0.42665728476479103

With default parameter (alpha = 10)

In [83]:
model = Ridge(alpha=10)
model.fit(X_train, y_train)

Ridge(alpha=10, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [84]:
print(model.score(X_train, y_train))
y_train_pred = model.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))
#print(mean_squared_log_error(y_train, y_train_pred))

0.8440820514919845
0.15869994446124155

In [85]:
print(model.score(X_test, y_test))
y_test_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_test_pred))

0.536532882434281
0.4243500810180452

## Look at the metrics, what are your main conclusions?   

Ridge performed much better than Lasso. But Ridge performed similar to that of a regular linear regression.

## Compare number of parameter estimates that are (very close to) 0 for Ridge and Lasso

Compare with the total length of the parameter space and draw conclusions!

In [ ]:
# number of Ridge params almost zero

In [ ]:
# number of Lasso params almost zero

Lasso was very effective to essentially perform variable selection and remove about 25% of the variables from your model!

In [ ]:
# your code here

## Summary

Great! You now know how to perform Lasso and Ridge regression.